<div class="backgroundScene"></div>
<div class="welcomeContainer">
    <div class="welcomeBox">
        <h1>Calendar App</h1>
    </div>
    <%= link_to 'Enter', calendar_view_thisMonth_path(:calendar_view_id), { :class => "welcomeButton" } %>
</div>