<div class="backgroundScene"></div>
<div class="welcomeContainer">
    <div class="welcomeBox">
        <h1>Calendar App</h1>
    </div>
    <a class ="welcomeButton" href="#">
        <div>
            Enter
        </div>
    </a>
</div>