<div class="backgroundScene"></div>
<div class="welcomeContainer">
    <div class="welcomeBox">
        <h1>Calendar App</h1>
    </div>
    <%= link_to 'Enter', calendars_views_path, { :class => "welcomeButton" } %>
</div>