<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1>Your Guide to Your Calendar</h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <%= link_to 'Calendar', calendar_view_thisMonth_path(:calendar_view_id) %>
        <%= link_to 'Events', events_path %>
        <%= link_to 'Tags', tags_path %>
        <a href="/../welcome/team.html" class="active">Team</a>
        <a href="/../welcome/help.html">Help</a>
    </div>
    
    <div class="teamContent">
        I'm a little teacup
    </div>
</div>