<div class="backgroundScene"></div>
<div class="container">
    <div class="header">
        <h1>Editing: <%= @event.title %></h1>
    </div>
    
    <div class="nav">
        <a href="/../welcome/index.html">Home</a>
        <a href="#">Calendar</a>
        <%= link_to 'Events', events_path %>
        <a href="#">Team</a>
        <a href="#">About</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search events..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    
    <div class="content">
        <%= render 'form' %>
    </div>
</div>