<%= link_to'Previous Month', calendar_view_previousMonth_path(:calendar_view_id), :title => "Previous Month" %>
<h1><%= @dateInUse %></h1>
<%= link_to'Next Month', calendar_view_nextMonth_path(:calendar_view_id), :title => "Next Month" %>