/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px;
    font-family: "Helvetica", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(240, 240, 240, 0.9));
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, rgba(40, 149, 251, 0.9), rgba(32, 108, 183, 0.9));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom right, rgba(32, 108, 183, 0.9), rgba(20, 68, 117, 0.9));
}

.backgroundScene {
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    position: fixed;
    background-image: url("metalBlur.jpg");
    background-color: grey;
    background-size: cover;
}

.container {
    /* Dimensions of Container */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px;
    position: relative;
    
    /* Styling for Container */
    box-shadow: -10px 0px 20px rgba(54, 54, 54, 0.502), 10px 0px 20px rgba(54, 54, 54, 0.502);
    
    
    /* Styling for Container */
    box-shadow: -10px 0px 20px rgba(54, 54, 54, 0.502), 10px 0px 20px rgba(54, 54, 54, 0.502);
    
    /* Grid Layout */
    display: grid;
    grid-template-rows: 2fr 1fr 16fr;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-areas:
        ". header ."
        ". nav ."
        ". content .";
}

/* --- Header --- */

.header {
    /* Position in container grid */
    grid-area: header;
    
    background: linear-gradient(to bottom right, rgba(32, 108, 183, 0.9), rgba(20, 68, 117, 0.9));
    text-align: center;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --- Navigation --- */

.nav {
    /* Position in container grid */
    grid-area: nav;
    
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(240, 240, 240, 0.9));
    overflow: hidden;
    box-shadow: -10px 0px 20px rgba(54, 54, 54, 0.4), 10px 0px 20px rgba(54, 54, 54, 0.4);
}

.navButton {
    
    font-weight: bold;
    height: 100%;
    width: 100%;
    
    text-decoration: none;
    color: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a:hover {
    background-color: rgba(78, 167, 250, 0.719);
    transition: 0.3s;
}

.nav a.active {
    background: linear-gradient(to bottom right, rgb(102, 180, 252), rgb(34, 111, 184));
    color: white;
}

.nav a.active:hover {
    background: linear-gradient(to bottom right, rgb(34, 111, 184), rgb(102, 180, 252));
    transition: 0.3s;
}
 
/* --- RESPONSIVE DESIGN --- */

/* --- Largest Screens --- */
@media all and (min-width: 1280px) {
    .container {
        /* Styling for Container */
        box-shadow: -10px 0px 20px rgba(54, 54, 54, 0.502), 10px 0px 20px rgba(54, 54, 54, 0.502);
    
        /* Grid Layout */
        display: grid;
        grid-template-rows: 2fr 1fr 16fr;
        grid-template-columns: 1fr 1200px 1fr;
        grid-template-areas:
            ". header ."
            ". nav ."
            ". content .";
    }   
    
    .header {
        font-size: 2vmin;
    }
    
    .nav {
        font-size: 24px;
        
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "navButton navButton navButton navButton navButton navButton";
    }
}

/* --- Regular Desktop --- */
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        /* Styling for Container */
        box-shadow: -10px 0px 20px rgba(54, 54, 54, 0.502), 10px 0px 20px rgba(54, 54, 54, 0.502);
    
        /* Grid Layout */
        display: grid;
        grid-template-rows: 2fr 1fr 16fr;
        grid-template-columns: 1fr 1000px 1fr;
        grid-template-areas:
            ". header ."
            ". nav ."
            ". content .";
    }
    
    .header {
        font-size: 100%;
    }
    
    .nav {
        font-size: 24px;
        
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "navButton navButton navButton navButton navButton navButton";
    }
}
 
/* --- Tablet Landscape --- */
@media all and (min-width: 768px) and (max-width: 1024px) {
    .container {
        /* Styling for Container */
        box-shadow: -10px 0px 20px rgba(54, 54, 54, 0.502), 10px 0px 20px rgba(54, 54, 54, 0.502);
    
        /* Grid Layout */
        display: grid;
        grid-template-rows: 2fr 2fr 16fr;
        grid-template-columns: 1fr 750px 1fr;
        grid-template-areas:
            ". header ."
            ". nav ."
            ". content .";
    } 
    
    .nav {
        font-size: 20px;
        
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "navButton navButton navButton" 
            "navButton navButton navButton";
    }
}

/* --- Tablet --- */
@media all and (min-width: 480px) and (max-width: 768px) {
    .container {
        /* Styling for Container */
        box-shadow: -10px 0px 20px rgba(54, 54, 54, 0.502), 10px 0px 20px rgba(54, 54, 54, 0.502);
    
        /* Grid Layout */
        display: grid;
        grid-template-rows: 2fr 2fr 16fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "content";
    }  
    
    .nav {
        font-size: 20px;
        
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "navButton navButton navButton" 
            "navButton navButton navButton";
    }
}

/* --- Phone --- */
@media all and (max-width: 480px) { 
    .container {
        /* Grid Layout */
        display: grid;
        grid-template-rows: 2fr 3fr 16fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "nav"
            "content";
    }  
    
    .nav {
        font-size: 16px;
        
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "navButton navButton"
            "navButton navButton" 
            "navButton navButton";
    }
}