// Place all the styles related to the calendar_view controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* --- Calendar Content --- */
.calendarContent {
    /* Position in container grid */
    grid-area: content;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
    
    /* Layout grid for the calendar content */
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: auto;
    grid-template-areas:
        "sidebar main";
}

/* --- Sidebar --- */

.sidebar {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -10px 0px 20px rgba(54, 54, 54, 0.2), 10px 0px 20px rgba(54, 54, 54, 0.2);
}

.sidebar div.sidebarMainBox {
    padding: 10px;
    font-size: 2.5vmin;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom right, rgba(40, 149, 251, 0.9), rgba(32, 108, 183, 0.9));
}

.sidebar a.sidebarMainBoxButton {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background: linear-gradient(to bottom right, rgba(40, 149, 251, 0.9), rgba(32, 108, 183, 0.9));
    
    font-size: 2.5vmin;
    color: white;
    text-decoration: none;
}

.sidebar a.sidebarMainBoxButton:hover {
    background: linear-gradient(to bottom right, rgba(32, 108, 183, 0.9), rgba(40, 149, 251, 0.9));
    transition: 0.3s;
}

.sidebar div.sidebarSubBox {
    padding: 10px;
    font-size: 2vmin;
}

.sidebar .sidebarSelect {
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.sidebar .sidebarSelect:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* --- Main --- */

.main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
        "monthHeader"
        "calendarBox";
        
    padding: 10px;
}

.main div.monthHeader {
    font-size: 2vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthHeader a {
    text-decoration: none;
    color: black;
}

.monthHeader a:hover {
    color: rgb(114, 114, 114);
}

.main div.calendarBox {
    overflow-y: auto;
}

.calendarLayout {
    width: 100%;
}

.calendarLayout table {
    height: 100%;
}

.calendarLayout th {
    font-size: 2.5vmin;
    width: calc(100% / 7);
    height: 10%;
    color: white;
    background: linear-gradient(to bottom right, rgba(32, 108, 183, 0.9), rgba(20, 68, 117, 0.9));
}

.calendarLayout td {
    height: 100px;
    vertical-align: text-top;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 2.5vmin;
    background-color: rgba(255, 255, 255, 0.5);
}

.calendarLayout td .dayNumber {
    height: 50%;
}

.calendarLayout td .dayInfo {
    height: -moz-calc(50% - 5px);
    height: -webkit-calc(50% - 5px);
    height: calc(50% - 5px);
    bottom: 5px;
    position: relative;
    font-size: 2vmin;
    background: linear-gradient(to bottom right, rgb(102, 180, 252), rgb(34, 111, 184));
    text-decoration: none;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.calendarLayout td .startCap {
    background: linear-gradient(to bottom right, rgba(32, 108, 183, 0.9), rgba(20, 68, 117, 0.9));
}

.calendarLayout td .dayInfo:hover {
    background: linear-gradient(to bottom right, rgb(34, 111, 184), rgb(102, 180, 252));
}

.calendarLayout td.inactive {
    background-color: rgba(165, 165, 165, 0.5);
}

.calendarLayout td a.addEventButton {
    display:none;
    text-decoration: none;
    color: black;
}

.calendarLayout td:hover a.addEventButton {
    display: inline;
    color: rgb(126, 126, 126);
}

.calendarLayout td:hover a.addEventButton:hover {
    color: black;
}

.eventsContainer {
    height: 90%;
}